<app-header></app-header>
<ion-content [scrollEvents]="true">
  <div class="row main_container">
    <div class="col-md-6 main_body">
      <div class="card text-center p-4">
        <h4>Welcome to Ionic Project BIRAJ HALDER</h4>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <table class="table table-hover" border="1">
      <thead>
        <tr>
          <td>S.No.</td>
          <td>Product Name</td>
          <td>Product Price</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products | async; let i =index;">
          <td>{{i+1}}</td>
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
        </tr>
        <tr *ngIf="( products | async)?.length == 0"> No Record </tr>
      </tbody>
    </table>
  </div>
</ion-content>